body{background-color:cyan;}
h1{
    color: blue;
    font-family: verdana;
    font-size: 300%;

}
p{color:orangered;}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;}

#t1 {
    border: 1px;
    border-bottom-color: darkorange;
    border-collapse: collapse;
}